footer {
    background: linear-gradient(to right, #2aaaca, #fbf4f4);
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-left {
    flex: 1;
    margin-right: 15%;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-logo-img {
    width: 348px;
    margin-top: -25%;
    margin-left: 12%;
}



.footer-icons {
    margin-top: 10px;
    text-align: center;
}

.footer-icons p {
    margin-bottom: 10px;
    margin-top: -21%;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-icon img {
    width: 24px;
    height: 24px;
}

.footer-info {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    flex: 2;
    justify-content: space-between;
}


.footer-information, .footer-navigator, .footer-services {
    flex-basis: calc(33.33% - 40px);
    text-align: center;
}

.footer-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.footer-list li a {
    color: inherit;
    text-decoration: none;
}

.footer-list li a:hover {
    color: blue;
}

.footer-bottom {
    text-align: center;
    font-size: 0.9em;
    margin-top: 20px;
    padding-top: 10px;
}

hr {
    width: 50%;
    margin: 0 auto;
    border: 0;
    border-top: 2px solid black;
}


@media (max-width: 1024px) {
    .footer-info {
        gap: 20px;
    }

    .footer-icons p {
        font-size: 15px;
        margin-top: -25%;
    }

    .footer-list li {
        font-size: 14px;
    }

    .footer-icon img {
        width: 20px;
        height: 20px;
    }

    .footer-logo-img {
        width: 252px;
        margin-top: -24%;
        margin-left: 5%;
    }
    .footer-bottom {
        margin-top: -5px;
    }
}

@media (max-width: 768px) {
    .footer-left {
        margin-right: 0;
        flex-basis: 100%;
        text-align: center;
    }

    .footer-info {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-list {
        font-size: 12px;
    }

    .footer-icons p {
        font-size: 12px;
        margin-top: -9%;
        width: 40%;
        margin-left: 32%;
    }

    .icon-container {
        gap: 8px; 
    }
    .footer-logo-img {
        margin-top: -10%;
    }
}

@media (max-width: 480px) {
    .footer-icons p {
        font-size: 10px;
    }

    .footer-list {
        font-size: 10px;
    }

    .footer-icon img {
        width: 16px;
        height: 16px;
    }

    .footer-bottom {
        font-size: 0.8em;
    }

    .icon-container {
        gap: 6px;
    }
}

@media (max-width: 376px) {
    .footer-left {
        flex-basis: 100%;
        text-align: center;
    }

    .footer-info {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .footer-list {
        font-size: 9px;
    }

    .footer-icons p {
        font-size: 9px;
    }

    .footer-icon img {
        width: 14px;
        height: 14px;
    }

    .footer-bottom {
        font-size: 0.7em;
        margin-top: 20px;
    }
}

