@media (max-width: 1440px) {

    .box {
        right: 1%;
        top: 0%;
    } 
}

    
    



@media (max-width: 1010px) {
    .logo {
        width: 137px;
        margin: 1%;
    }
    .box {
        top: 2%;
    }
}


@media (max-width: 750px) {
    .box {
        right:1%;
    }
}

@media (max-width: 479px) {
    .box {
        right: 0.5%;
        right:1%;
    }
}

