
@media (max-width: 1440px) {
    .box {
        right: 1%;
        top: 2%;
    }
  
}

@media (max-width: 1230px) {

    /* .logo {
        width: 137px;
        margin: 1%;
    } */
  .contact{
    width: 260px;
    height: 450px;
    padding-bottom: 0px;
  }
  .img-size{
    width: 260px;
    height: 450px;
  }
  .input-style {
    width: 250px;
    height: 30px;
    margin-bottom: 5px;
 }
  select {
    height: 35px;
    width: 265px;
    border-radius: 10px;
    padding: 5px;
   }
   .input-style2 {
    width: 250px;
    height: 70px;
    margin-bottom: 30px;
    margin-top: 10px;
 }
}






@media (max-width: 700px) {

    /* .logo {
        width: 137px;
        margin: 1%;
    } */
    .contact-fin{
    flex-direction: column;
    }

    }


 

@media (max-width: 750px) {
    /* .box {
     right: 0.5%;
    } */

    cader {
        width: 95%;
        margin-bottom: 8%;
        
    }

}

@media (max-width: 416px) {
    .global-services {
        margin-left: 25%;

    }
}
