/* 
green #059c4e
orange #ff8a1d
white #ffffff
blue #0355cc
grey #5b595e;
  }
light grey #d1e3ff
#fbf4f4
#2aaaca   #fbf4f4 */



body{
    background:linear-gradient(to right,#2aaaca,#fbf4f4);
}

header {
    height: 60px;
    display: flex;
}

.logo {
    width: 200px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/artvibe.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main {
    display: flex;
    height: 100%;
}




.menubar { 
    height: 7px; 
    width: 50px; 
    background-color: #000; 
    border-radius: 10px;
    margin: 7px; 
    transition: 0.7s;
} 

.box {
    height: 60px; 
    width: 60px; 
    position: absolute;
    top: 10px;
    right: 10px;
}

.box {
    display: flex;
    flex-direction: column;
}

.menubar { 
    z-index: -1;
} 



#checkbox {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
}



#checkbox:checked ~ div:nth-of-type(1){ 
    transform: translate(0, 22px) rotate(40deg); 
    background-color: #2aaaca; 
} 

#checkbox:checked ~ div:nth-of-type(2){ 
    opacity: 0; 
} 

#checkbox:checked ~ div:nth-of-type(3){ 
    transform: translate(0, -17px) rotate(-40deg);
    background-color: #2aaaca; 
}

.menu {
    margin-right: 70%;
    border-radius: 6%;
    width: 100vh;
    height: 70vh;
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #2aaaca;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    padding: 10px;
    align-content: center;
}
.list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.list li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-size: 160%;
    font-weight: bold;
    font-style: italic;
}
.list li:hover {
    background-color: #f0f0f0;
}
#checkbox:checked ~ .menu {
    display: block;
}




.header_list_work{
    width: 75vw;
    text-align: center;
}   
.header_list_work h1{
    margin: 0%;
}  
.work_list{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0%;
}
.work_list li{
    list-style: none;

    width: 12%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}  
.work_list li button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: black;
}


.work_list button:hover {
    background-color: #d1e3ff;
    height:150%;
    margin-top: -5%;
    color: #5b595e;
    font-weight: bold;
    border-radius: 5%;
}




.list_work{
    text-align: center;
    margin-top: 8%;
}
.group_work{
    width: 80%;
    height: 150px;
    display: flex;
    margin: auto;
    margin-bottom: 2%;
    
}

.group_work div{
    width: 100%;
    height: 100%;
    margin: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 14%;


}
.active{
    color: blue !important ;
}

.dsn_img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.dsn_img:hover{
    position: sticky;
    width: 120%;       
    height: auto;   
    transition: width 0.3s, height 0.3s, z-index 0.3s; /* Smooth transition */    
    border-radius: 40px 25px;
    transition: 0.3s;
}